.header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 114px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff8c;
}

.header__logo{ 
  width: 278px;
  height: 90px;
}

.header__navigation{

}

.header__menu{
  display: flex;
  column-gap: 4px;
  list-style: none;
}

.header__item-menu{
  text-decoration: none;
  font-family: inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #263c70ff;
  padding: 18px;
}

.header__item-menu:hover{
  background-color: #263c70ff;
  border-radius: 25px;
  color: #fff;
}

.main{

}

.main__image{
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
}

.main__content{
  display: flex;
  flex-direction: column;
  width: 36%;
  position: fixed;
  top: 164px;
  left: 61px;
  z-index: 7;
  color: #fff;
  font-family: 'Inter';
}

.main__title{
  height: 77px;
  font-size: 3.5rem;
  text-shadow: 0px 3px 14px #524e4e;
  font-weight: 600;
}

.main__subtitle{
  font-size: 1.7rem;
  font-weight: normal;
  text-shadow: 0px 3px 14px #524e4e;
}

.main__where{
  position: fixed;
  top: 428px;
  left: 59px;
  border-radius: 20px;
  background-color: #263c70ff;
  padding: 14px 23px 64px 23px;
}

.main__form{
  display: flex;
  column-gap: 22px;
}

.main__input{
  border-radius: 5px;
  padding: 10px 5px;
  border-style: none;
  font-family: 'Inter';
  font-weight: 600;
  text-align: center;
  font-size: 1rem;
  color: #263c70ff;
}

::placeholder{
  color: #263c70ff;
}

.main__button{
  background-color: #1593ffff;
  color: #fff;
  border-style: none;
  border-radius: 20px;
  width: 129px;
  font-family: 'Inter';
  font-weight: 600;
  cursor: pointer;
}

.main__button:hover{
  background-color: rgb(52, 155, 245);
  opacity: 0.6px;
}

.main__paragraph{
  position: absolute;
  top: 58px;
  left: 39px;
  color: #fff;
  font-family: 'Inter';
  font-size: 0.9rem;
}

.main__filter{
  color: #fff;
}